.container {
    display: flex;

}
.card{
    padding : 23px 12px;
    /* box shadow : offset-x  offset-y color;

    box-shadow: 5px 7px 12px rgb(187, 125, 216);
     /* box shadow : offset-x  offset-y blurradius  color
    box-shadow: -5px -7px 12px 10px rgb(187, 125, 216);
     /* box shadow : offset-x  offset-y blurradius  color;
     box-shadow: 5px 7px 12px rgba(187, 125, 216,);*/

     box-shadow: 3px 5px 10px rgb(143, 64, 136),  9px 8px 10px rgb(54, 54, 100) ;
     margin: 23px 12px;
     

     font-weight: bold;


    height:400px;
width:380px;
border-radius: 6px;
}
.card h2{
text-shadow: 3px 4px 2px rgb(147, 147, 156);
}

#card-1{
    background: url('./bhalu.jpg') no-repeat center;
    color:black;

}
#card-2{
    background: url('./lomri.jpg') no-repeat center;
    color:black;
}
#card-3{
    background: url('./donkey.jpg') no-repeat center;
    color:black;    
}

